https://www.effectiveperlprogramming.com/#nav
https://www.effectiveperlprogramming.com/2017/04/you-must-escape-the-left-brace-in-a-regex
https://www.effectiveperlprogramming.com/2017/04/you-must-escape-the-left-brace-in-a-regex/#respond
https://www.effectiveperlprogramming.com/2018/10/use-capture-to-get-a-list-of-all-the-capture-buffers
https://www.effectiveperlprogramming.com/2018/10/use-capture-to-get-a-list-of-all-the-capture-buffers/#comments
https://www.effectiveperlprogramming.com/2018/12/perl-v5-30-lets-you-match-more-with-the-general-quantifier
https://www.effectiveperlprogramming.com/2018/12/perl-v5-30-lets-you-match-more-with-the-general-quantifier/#comments
https://www.effectiveperlprogramming.com/2019/02/use-alpha-assertions-for-more-understandable-regexes
https://www.effectiveperlprogramming.com/2019/02/use-alpha-assertions-for-more-understandable-regexes/#respond
https://www.effectiveperlprogramming.com/2019/03/match-only-the-same-unicode-script
https://www.effectiveperlprogramming.com/2019/03/match-only-the-same-unicode-script/#respond
https://www.effectiveperlprogramming.com/2019/03/use-atomic-matching-for-complex-non-backtracking
https://www.effectiveperlprogramming.com/2019/03/use-atomic-matching-for-complex-non-backtracking/#respond
https://www.effectiveperlprogramming.com/2019/09/single-quoted-qr-slash-n
https://www.effectiveperlprogramming.com/2019/09/single-quoted-qr-slash-n/#respond
https://www.effectiveperlprogramming.com/2020/03/use-a-variable-width-lookbehind-if-it-wont-match-more-than-255-characters
https://www.effectiveperlprogramming.com/2020/03/use-a-variable-width-lookbehind-if-it-wont-match-more-than-255-characters/#respond
https://www.effectiveperlprogramming.com/2020/06/match-unicode-character-names-with-a-pattern
https://www.effectiveperlprogramming.com/2020/06/match-unicode-character-names-with-a-pattern/#comments
https://www.effectiveperlprogramming.com/2020/06/perl-7-is-coming
https://www.effectiveperlprogramming.com/2020/06/turn-off-indirect-object-notation
https://www.effectiveperlprogramming.com/2020/07/match-unicode-property-values-with-a-wildcard
https://www.effectiveperlprogramming.com/2020/07/match-unicode-property-values-with-a-wildcard/#respond
https://www.effectiveperlprogramming.com/about
https://www.effectiveperlprogramming.com/category/book/chapters/regular-expressions/page/2
https://www.effectiveperlprogramming.com/errata
https://www.effectiveperlprogramming.com/feed
https://www.effectiveperlprogramming.com/free-ebook
https://www.effectiveperlprogramming.com/http://zww.me
https://www.effectiveperlprogramming.com/https://amzn.to/2QtvIa2
https://www.effectiveperlprogramming.com/https://jigsaw.w3.org/css-validator/check/referer?profile=css3
https://www.effectiveperlprogramming.com/https://my.safaribooksonline.com/9780321718303
https://www.effectiveperlprogramming.com/https://validator.w3.org/check?uri=referer
https://www.effectiveperlprogramming.com/https://wordpress.org
https://www.effectiveperlprogramming.com/https://www.amazon.com/gp/product/0321496949/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=0321496949&linkCode=as2&tag=hashbang09-20&linkId=JLZLK3MHRS2VVEJW
https://www.effectiveperlprogramming.com/https://www.defectiveperlprogramming.com
https://www.effectiveperlprogramming.com/https://www.ebooks.com/ebooks/book_display.asp?IID=515079
https://www.effectiveperlprogramming.com/https://www.effectiveperlprogramming.com
https://www.effectiveperlprogramming.com/https://www.informit.com/store/product.aspx?isbn=0321496949
https://www.effectiveperlprogramming.com/https://www.pearsonhighered.com/educator/product/Effective-Perl-Programming-Ways-to-Write-Better-More-Idiomatic-Perl-2E/9780321496942.page
https://www.effectiveperlprogramming.com/item-wish-list-2
https://www.effectiveperlprogramming.com/reviews
https://www.effectiveperlprogramming.com/toc
